---
layout: default
title: Toolz – HOME
---

<div class="container">
    <h1>Loknummern&shy;generator</h1>
    <div id="page1">
        <form name="formular" id="number_form" autocomplete="off">
            <div class="fieldrow">
                <div class="fieldcontainer">
                    <label for="loco_class">Baureihe</label>
                    <input type="text" id="loco_class" required placeholder="261" minlength="2" />
                </div>
                <div class="fieldcontainer">
                    <label for="indenture_number">Ordnungsnummer</label>
                    <input type="text" id="indenture_number" required placeholder="011" maxlength="4" minlength="2" />
                </div>
            </div>
            <ul class="checklist">
                {% for foo in site.data.test.test %}
                    {{ foo }}
                {% endfor %}
                {% for radio in site.data.locoClassCodes.options %}
                    <li>
                        {% include radioWithLabel.html radio name=site.data.locoClassCodes.name %}
                    </li>
                {% endfor %}
            </ul>

            <button class="button" id="compute" type="submit">Berechnen</button>
        </form>
    </div>
    <div id="page2">
        <button id="back_button" type="button" name="Zurück">&#x25C0;&#xFE0E; Zurück</button>
        <div id="edv_number"></div>
        <div id="uic_number"></div>
    </div>
</div>