---
layout: default
title: Toolz – HOME
---

<div class="container">
    <h1>Loknummern&shy;generator</h1>
    <div id="page1">
        <form name="formular" id="number_form" autocomplete="off">
            <div class="fieldrow">
                {% include inputWithLabel.html
                    id='loco_class'
                    title='Baureihe'
                    placeholder='261'
                    minlength='2' 
                %}
                {% include inputWithLabel.html
                    id='indenture_number'
                    title='Ordnungsnummer'
                    placeholder='011'
                    minlength='2'
                %}
            </div>
            <ul class="checklist">
                {% for radio in site.data.locoClassCodes.options %}
                    <li>
                        {% include radioWithLabel.html
                            name=site.data.locoClassCodes.name
                            value=radio.value title=radio.title
                        %}
                    </li>
                {% endfor %}
            </ul>

            <button class="button" id="compute" type="submit">Berechnen</button>
        </form>
    </div>
    <div id="page2">
        <button id="back_button" type="button" name="Zurück">&#x25C0;&#xFE0E; Zurück</button>
        <div id="edv_number"></div>
        <div id="uic_number"></div>
    </div>
</div>