{% comment %}Calculating uniquie ID for input.{% endcomment %}
{% capture generatedID %}input_{% increment inputCounter %}{% endcapture %}

{% capture inputID %}{{include.id | default: generatedID}}{% endcapture %}

{% capture type %}{{include.type | default: 'text'}}{% endcapture %}

{% capture content %}
    <input
        type="{{type}}"
        id="{{inputID}}"
        name="{{include.name}}"
        placeholder="{{include.placeholder}}"
        minlength="{{include.minlength}}"
        required 
    />
{% endcapture %}

{% include label.html id=inputID label=include.label content=content %}
